[2018-12-18 21:03] void-elf opened #2 "Update README to have more explanation + instructions"

[2019-01-07 21:22] #2 closed, assigned to nobody

[2019-01-07 21:22] cooperq opened #5 "Create logging subystem"
Watchdog, webui, and crocodile hunter should have a logging convenience class that they can all call which will take care of appropriately formatting output as well as logging to a file.

[2019-01-07 21:23] cooperq opened #6 "Save pcaps"
Pcaps generated by srsUE for each crocodile hunter session should be saved to the `data` directory, perhaps named with their timestamp?

[2019-01-07 21:24] cooperq opened #7 "srsUE, frequent crashes"
srsUE frequently crashes while it is running. Crashes seem to happen more when the rig is moving.

[2019-01-07 23:22] void-elf opened #8 "update README to include srsLTE submodule instructions"
I think we need to do this? When I cloned this repo, `/srsLTE` was empty. I had to delete it, then:
[code]

... otherwise running the crocodile hunter python script failed because it was empty.

[2019-01-09 16:30] void-elf opened #10 "Spinner breaks ability to debug crocodilehunter.py with ipdb"
See attached screenshot.  Every time I enter a letter in the debug console after the first time, it just prints copies of the spinner.

![selection_007](https://user-images.githubusercontent.com/4513790/50913257-f46fc800-1401-11e9-949e-9d94ebd6bbe1.png)

[2019-01-09 16:56] void-elf opened #11 "include db setup instructions in README"

[2019-01-09 18:21] #11 closed, assigned to nobody

[2019-01-09 18:21] void-elf opened #12 "update README to include db-related packages (e.g. sqlalchemy) for install"

[2019-01-18 15:04] void-elf opened #15 "update README to include wigle setup info"

[2019-01-22 14:12] void-elf opened #16 "add checks + scanning on higher priority frequences"
Based on [this paper](https://arxiv.org/pdf/1510.07563.pdf), it says that one technique for tricking phones using LTE to connecting to a CSS is to exploit the "absolute priority based cell reselection" feature. Basically we'll need to parse SIB 4,5,6, and 7 messages to figure out these frequencies and then scan to see if there's anything on them.

[2019-01-22 20:40] void-elf opened #17 "Wigle API daily limit"
From some testing I did today, it seems like you get at most 7 queries/day, which isn't ideal.

[2019-01-24 01:10] #17 closed, assigned to nobody

[2019-01-31 19:47] cooperq opened #18 "Add debug flag as argument"
Right now we have to debug by changing a const. This sucks, make it a command line argument.

[2019-01-31 19:48] cooperq opened #19 "Add disable GPS flag"
Sometimes you are in a faraday cage and GPS doesn't work so you should be able to disable it.

[2019-01-31 19:50] cooperq opened #20 "Add disable wigle flag"
#17 pointed out that if you don't have a wigle pro account it's not a very useful check. We can add a flag to disable wigle for users who don't have a pro account.

[2019-01-31 19:52] cooperq opened #21 "create positional argument for database path"
the database path should default to <crocodilehunter>/data/cell_data.db but it should be easy to override if a person wants that.

[2019-01-31 19:56] cooperq opened #22 "argument for project name"
if one travels to another city or is debugging one might want crocodile hunter data to be a seperate "project" this can create a new folder to store the database and pcap (#6) files in

[2019-01-31 19:56] #21 closed, assigned to nobody

[2019-01-31 19:58] void-elf opened #23 "make -d -g in crocodile hunter actual flags"

[2019-01-31 23:34] #19 closed, assigned to nobody

[2019-01-31 23:38] #18 closed, assigned to nobody

[2019-01-31 23:40] #10 closed, assigned to cooperq

[2019-01-31 23:41] #8 closed, assigned to void-elf

[2019-02-01 18:50] void-elf opened #25 "figure out rsrp vs rssi"
Based on a call with an LTE researcher, there are different times when we'd want to use each of these values.

[2019-02-01 18:53] void-elf opened #26 "Bandwidth checking"
We should look for unusual bandwidth values in some scenarios. Lower (e.g. 5 MHz) is probably an indicator of a homebrew IC.

Specifically, `dl-bandwidth` that's sent in the MIB.

[2019-02-01 18:59] void-elf opened #27 "Check for default config values being transmitted"
It's likely that for both hobbyists and commercial ICs, they won't have even bothered to change a lot of stuff from the defaults that come in the config file. We should check for this.

[2019-02-01 19:01] void-elf opened #28 "Check for missing BTS features (e.g. no SIB 13)"
It's likely that for both hobbyist and commercial ICs, they'll be missing the full range of what a normal IC is capable of. We should put in some checks to see if some of that basic stuff is missing.

[2019-02-01 19:03] void-elf opened #29 "Add checks for high priority EARFCN use"

[2019-02-01 19:11] void-elf opened #30 "Different band scanning approaches"
We've had a variety of different ideas for doing wider scans:

1. Separate processes to scan all the LTE bands in the background, and update the EARFCN list with anything it finds. (This should take 5-10 minutes.) Alternatively we could do this at the very beginning before we start the scan.
2. Also sometimes scanning outside of the North American specific LTE bands might be a good idea, esp since

[2019-02-01 19:17] void-elf opened #31 "[longterm] investigate qualcomm SDK for DSP"

[2019-02-01 19:21] void-elf opened #32 "Machine learning"
Some initial steps:
- @ynasser to contact ML researchers we collaborated with in the past
- start saving binary blog pcaps

Also, UW researchers suggested clustering and unsupervised learning, and then an iterative labeling approach.

[2019-02-01 19:23] void-elf opened #33 "modelling received survey strength across the city"

[2019-02-01 19:27] #20 closed, assigned to nobody

[2019-02-01 19:27] #23 closed, assigned to nobody

[2019-02-01 21:40] void-elf opened #34 "investigate LTE antennas"

[2019-02-01 23:38] #22 closed, assigned to nobody

[2019-02-01 23:41] void-elf opened #36 "checkout newest srsLTE release"
And see if we want to merge their changes in.

[2019-02-02 00:22] #6 closed, assigned to void-elf

[2019-02-07 20:04] cooperq opened #38 "document usb3 interference in the readme"
when using a sub par USB cable USB3 is powerful enough to cause radio interference in the SDR. This should be documented.

[2019-02-08 19:40] void-elf opened #39 "replace sqlite with mariadb"
sqlite3 is really struggling with our threaded architecture!

[2019-02-08 19:51] void-elf opened #40 "Endpoint that displays terminal output"

[2019-02-15 00:44] #29 closed, assigned to nobody

[2019-02-15 00:44] #34 closed, assigned to nobody

[2019-02-15 00:44] #36 closed, assigned to void-elf

[2019-02-15 00:44] #39 closed, assigned to nobody

[2019-02-15 00:52] #12 closed, assigned to nobody

[2019-02-15 01:18] #15 closed, assigned to void-elf

[2019-02-15 01:18] #38 closed, assigned to nobody

[2019-02-15 01:23] cooperq opened #43 "Fix centroid and location distance check"

[2019-02-15 01:25] cooperq opened #44 "Add map of points and centroid to cell detail page"

[2019-02-15 01:30] cooperq opened #45 "Add sib1 binary into database"

[2019-02-15 19:01] void-elf opened #47 "Implement direction finding"
Via trilateration.

[2019-02-15 23:29] void-elf opened #48 "Measure time drift from cell towers"
The idea is that a CSS's NTP will be off (probably by a few seconds). This was Dave + Jeff's idea. Great test case for some ML.

[2019-02-15 23:32] void-elf opened #49 "Fingerprint output power transmitter"
Basically, fingerprint the phy layer. We should ask for more information.

[2019-02-20 17:36] void-elf opened #50 "ARM cross-compilation"
It turns out the rasp pi isn't powerful enough to compile srsLTE. Next step to try and get it working on there is cross-compilation on one of our laptops and then trying to run it on the pi.

[2019-02-20 17:37] void-elf opened #51 "Update README to include instructions on accessing UI from a phone"
By using a hotpot, etc ...

[2019-04-04 22:51] #44 closed, assigned to nobody

[2019-04-04 23:07] #51 closed, assigned to nobody

[2019-05-02 17:36] cooperq opened #53 "Refactor cell scanning code"
In EFForg/srsLTE there is a file in the examples directory that measures and decodes sib1 data called cell_measurement.cc. I have modified this to scan an entire band and decode any sib1 packets it finds.
We should further modify it to:
- [x]  scan a specific list of EARFCN which we can get from wigle when crocodile hunter starts.
- [x]  We also need to add socket communication to cell_measurement

[2019-05-09 19:26] void-elf opened #54 "Add migration docs"

[2019-05-10 19:15] #25 closed, assigned to nobody

[2019-05-10 19:15] #45 closed, assigned to nobody

[2019-05-10 22:50] #54 closed, assigned to cooperq

[2019-05-13 19:46] cooperq opened #55 "cell_measurement crashes using USRP"
when using a USRP Cell_measure.cc crashes every time when it hits here: https://github.com/EFForg/srsLTE/blob/refactor/lib/examples/cell_measurement.cc#L494 this problem does not occur on the bladeRF. Something about this commit  efforg/srslte@11826331ddfcb66cb95d6a7ac2ea2926a09cd1d6 seems to have caused the problem.

[2019-06-17 16:29] void-elf opened #57 "cell_measurement.cc EARFCN switching bug"
Once the script finds a tower and writes it to the DB, the original EARFCN list it was searching changes to something completely different. Might be related to https://github.com/EFForg/srsLTE/issues/7.

[2019-07-11 01:37] #7 closed, assigned to nobody

[2019-07-11 01:39] cooperq opened #58 "Get list of EARFCN to scan"
Before we start we should get a list of earfcn to scan which are present in the local area, either from Wigle or OpencellID (or both)

[2019-07-11 01:45] cooperq opened #59 "Look for lack of paging messages"
one theory is that a CSS will have a distinct lack of paging messages being sent that a normal enodeb would have. We should look for this.

[2019-07-30 18:50] #55 closed, assigned to nobody

[2019-08-01 22:10] #57 closed, assigned to cooperq

[2019-08-02 01:00] #53 closed, assigned to cooperq, void-elf

[2019-08-02 01:00] #58 closed, assigned to cooperq

[2019-08-02 01:33] #40 closed, assigned to nobody

[2019-08-06 00:35] #5 closed, assigned to nobody

[2019-08-10 06:05] #43 closed, assigned to nobody

[2019-08-23 21:40] #47 closed, assigned to void-elf

[2019-09-20 01:35] cooperq opened #61 "UI Polish"
- [x] infobox for map
- [x] clicking enodeb hilights on map
- [x] all antennas by CID with trilat page
- [x] cid details page
- [x] polish details page
- [x] better tables for mobile
- [x] fix padding on map
- [x] distance from nearest tower
- [x] call out new or decaying towers

[2019-11-22 23:15] cooperq opened #63 "Improve GPS stability"
GPS will often loose it's connection especially in a dense urban environment. One large problem this causes is that all tower readings are held in memory until GPS connects again at which time they are all suddenly added to the database with the current GPS location instead of the correct one. We should figure out a way to have a more stable GPS connection.

[2019-11-22 23:18] cooperq opened #64 "Add known towers in web UI"
we should be able to add a knew known tower in the web UI

[2019-11-22 23:19] cooperq opened #65 "sync to external DB and web UI"
For eventual analysis of logs from other users we should sync the data to an externally hosted DB and webui for examining. Create an API and a service for this. Syncing should happen in batches assuming internet connections will be unstable.

[2019-12-05 01:33] cooperq opened #66 "quickly see whether tower is in wigle / opencellid"
add field about whether cell is in wigle, and button to check it.

[2019-12-05 01:34] cooperq opened #67 "mark towers as suspicious or known good"
suspicious towers should have a special icon on the map. towers that reach a certain score should automatically be marked.

[2019-12-06 02:22] cooperq opened #68 "enodeb classificaitons"
classify enodebs as one of
* legit
* suspicious
* CSS
* Small/temporary Cell

[2019-12-06 02:23] cooperq opened #69 "Highlight new towers"
Highlight new towers discovered after scanning has run the second time.

[2019-12-16 18:16] #67 closed, assigned to cooperq

[2019-12-16 18:16] #66 closed, assigned to cooperq

[2020-01-13 23:56] cooperq opened #70 "all antennas by CID with trilat page"
There should be a page like the index page but listing all antennas by cell id instead of by enodeb id

[2020-01-14 00:26] #61 closed, assigned to cooperq

[2020-01-14 00:31] #69 closed, assigned to cooperq

[2020-01-14 00:33] cooperq opened #71 "Support Opencellid as baseline DB"
should add opencellid support for baseline as well (similar to how wigle works right now)

[2020-01-14 02:30] #70 closed, assigned to cooperq

[2020-01-15 22:30] void-elf opened #72 "initial run on new project crashes with -w"
Running the script with a new project the first time, if you use `-w` to disable Wigle, it crashes because it hasn't generated the list of EARFCNs in `config.ini`.

[2020-01-15 23:52] void-elf opened #73 "consider/investigate docker"

[2020-01-16 00:12] void-elf opened #74 "make sure known_towers is updated before running for the first time"
otherwise you get `AttributeError: 'NoneType' object has no attribute 'lat'`

[2020-01-16 00:48] void-elf opened #75 "add mnc/mcc to dashboard ui"

[2020-01-17 00:50] #64 closed, assigned to cooperq

[2020-01-18 01:15] #74 closed, assigned to nobody

[2020-01-18 01:15] #72 closed, assigned to nobody

[2020-01-18 01:15] #75 closed, assigned to nobody

[2020-01-22 02:40] #68 closed, assigned to cooperq

[2020-01-27 20:00] cooperq opened #76 "Get_gps endpoint for use by web ui"
Get GPS coordinates from web ui for use in JS code instead of getCurrrentLocation which we can't use in an insecure context.

[2020-02-08 04:23] #76 closed, assigned to cooperq

[2020-02-11 21:09] #65 closed, assigned to cooperq

[2020-02-13 05:16] #63 closed, assigned to cooperq

[2020-02-13 05:53] #71 closed, assigned to cooperq

[2020-02-26 05:58] #50 closed, assigned to cooperq

[2020-02-26 06:00] cooperq opened #77 "finish up beta deployment"
- [x] set up init.d script
- [ ] interface for config file
- [x] interface for viewing logs

[2020-02-27 02:29] #77 closed, assigned to cooperq

[2020-04-23 18:21] cooperq commented on #73
@cguerrave is considering writing a script or ansible playbook which would definitely fulfill this requirement I think!

[2020-04-23 18:24] cooperq opened #79 "bug fixes for launch"
- [x] Fix install script to use systemd
- [x] Remove US centric heuristics
- [x] set up API server
- [x] install script (see #73)
- [x] find memory leak in C code
- [ ] clean up code/readme/repo for launch
- [ ] launch website

[2020-06-20 18:45] simonft opened #80 "stderr should be printed in addition to stdout when srsLTE has died"
Right now when crocodilehunter detects srsLTE has died it prints an error and the last few lines of stdout from the process. However, in some cases stderr of the srsLTE process has the more useful information. It shouldn't be too hard to print both of them.

[2020-06-20 18:50] simonft opened #81 "Add a mode for just looking at web UI"
Sometimes I want to look at data that has been collected for a project in the web interface, but don't actually want to scan anything. It would be nice if there was a web-ui-only flag to allow this.

[2020-06-20 19:22] simonft opened #82 "Add a flag to record all raw data from srsLTE"
It would be nice if there was a mode to record all the data coming from the srsLTE socket raw to a file, before it gets processed by crocodilehunter. Probably most useful with timestamped and intermingled with GPS locations. This would allow for some further investigation after the fact in the case that something strange is detected.

[2020-06-20 19:29] simonft opened #83 "Experiment with using Mozilla Location Service to detect new cell towers"
[Mozilla Location Service](https://location.services.mozilla.com/) has some cell sites that wigle and opencellid don't, at least in NYC. It doesn't look like there's a good way to search for a specific cell tower using the API, but they do provide gzipped versions of the full data here: https://location.services.mozilla.com/downloads.

We could either build and run our own API to query the data or

[2020-06-25 20:31] simonft opened #84 "Merge upstream version of srsLTE"
This may fix a build issue newer versions of linux are hitting. I gave it a shot and it doesn't seem too hard except for rrc.cc, which has been moved and modified quite a bit. There might only be a few lines that will be difficult to merg in, but I don't understand what they're doing enough to finish it myself.

[2020-07-20 22:50] #81 closed

[2020-07-20 22:52] cooperq opened #86 "test with limesdr and other sdrs supported by soapysdr"
Test to see if crocodile hunter can run on a cheaper SDR:
* Lime SDR
* HackRF
* RTL-SDR

[2020-07-20 23:16] simonft commented on #82
I took a look at the actual data going through the socket, and it's just saving everything to the database with a bit of type conversion. So this isn't needed. At some point it might be useful to save all the raw srsLTE data being collected (and not just what's being written to the socket) but that requires some more thought.

[2020-07-20 23:16] #82 closed

[2020-07-22 03:46] cooperq commented on #84
merged the latest build in my dev environment, most of it was smooth but it looks like the API has made some changes which break cell_measurement.cc which I will have to fix. I'm on the case but this isn't gonna be a trivial fix. On the other hand cell_measurement.cc is pretty kludgy and rewriting it from scratch is probably worth doing. I'm on the case.

[2020-08-06 18:31] phantomdennis commented on #86
How do I sign up to test with a HackRF?

[2020-08-06 19:36] chayasorir opened #87 "Eff"

[2020-08-07 21:30] alphafox02 commented on #84
Wasn’t able to build the particular version of srslte on 20.04 although I have no issues building newer versions. I’ll reference my notes and get more feedback, but seeing this issue logged already makes me think it’s a known issue already. Should an older version of Ubuntu be used?

[2020-08-07 22:03] simonft commented on #84
For me the build fails on 18.04 and 20.04 with the error `error: ‘cabsf’ was not declared in this scope`. The build failure doesn't actually stop it from working on 18.04 (and bootstrap.sh just chugs along happily), but on 20.04 I had issue with it detecting the bladeRF that might or might not be related to the build failure.

[2020-08-07 22:07] alphafox02 commented on #84
Okay same exact issue as me. I went in to the src/srsLTE/build folder and watched what it was doing. I though I was smart and changed the c to and f but then it failed with another error.. at any rate good to hear it’ll build on 18.04. I’ll try tonight. I’ve got an ettus 205mini that runs srslte okay so hope it’ll be fine. Also have a blade but it’s an xa4.

Sent from my Android

[2020-08-08 02:04] alphafox02 commented on #84
Just checked, the version of srsLTE required builds fine on 18.04. It fails on 20.04, suppose this should be it's own issue

[ 35%] Building CXX object srsue/src/upper/CMakeFiles/srsue_upper.dir/rrc.cc.o
cc1plus: warning: ‘-Werror=’ argument ‘-Werror=incompatible-pointer-types’ is not valid for C++
/home/dragon/crocodilehunter/src/srsLTE/srsue/src/phy/phch_worker.cc: In member function ‘int srsue:

[2020-08-08 12:27] alphafox02 opened #88 "ValueError: invalid literal for int() with base 10"
Gave everything a try using Ubuntu 18.04 and made it as far as below with wigle api and location api configured. Not sure if it's an incompatibility with the ettus radio or if something else is failing.

 * 08:19:14 default - INFO starting crododile hunter project: default
 * 08:19:14 default - INFO Starting WebUI
 * 08:19:14 default - INFO  * Running on http://0.0.0.0:5000/ (Press CTRL+C to quit)

[2020-08-08 12:29] alphafox02 commented on #88
Actually working - just takes a while to load. Sorry

[2020-08-08 12:29] #88 closed

[2020-08-08 13:00] alphafox02 commented on #86
Not necessarily cheaper but the usrp b205mini-I works with uhd. Confirmed, at least in my case, that it works. Is there a way to pass a soapy argument to srsue via the crocodile py file?

[2020-08-09 20:25] aphid commented on #86
I have a lime SDR but would need some guidance to test

[2020-08-10 13:15] marcfielding1 opened #89 "Use outside of the US"
Heya,

A great piece of work on this! I'm based just north of London and would be interested in testing this, Stingray usage in and around London has been shown to be pretty prevalent both via law enforcement and criminals.

When I watched the talk on this I noticed console logs talking about it giving false positives outside the US, would I be able to reconfigure Crocodile Hunter to work correctl

[2020-08-10 15:20] marcfielding1 commented on #83
I can spin you guys up a crud API on AWS Lambda if it helps, once I understand the requirements it'd like be a days work.

[2020-08-10 15:27] marcfielding1 commented on #32
Do you have training data available for this? Ie data with verified bogus cell sites? We can donate some compute to this if you like.

[2020-08-11 08:49] keldnorman opened #90 "MemoryError"
[code]

[2020-08-11 20:53] keldnorman commented on #90
Found this link that fixex the compile error with phch_worker.cc.:  https://git.mmcginty.me/mirror/srsLTE_srsLTE/commit/aa3a2a3dba563540d98987a20d8de34389291ebc.diff

Just alter line 1599 from this:

ce_abs[g+i] = 20 * log10f(cabsf(ue_dl.ce_m[tx_antenna][rx_antenna][i]));

to this:

ce_abs[g+i] = 20 * log10f(std::abs(std::complex<float>(ue_dl.ce_m[tx_antenna][rx_antenna][i])));

[2020-08-12 19:27] PowerPress opened #91 "HackRF"
Any chance of HackRF hardware support to increase userbase since it is much cheaper hardware?

[2020-08-12 19:32] enrutador commented on #91
YES ¡¡¡¡ I also support the opinion of PowerPress give support to hackrf. If we put a crowdfunding code, or address of paypal I would collaborate.
Thanks for your work

[2020-08-12 21:21] pdelteil commented on #91
I don't think it will work properly. The HackRF is a half-duplex device with a much lower throughput than the BladeRF, but I'm not sure.

[2020-08-12 21:23] pdelteil commented on #86
I have the three devices. I will give it a try. Where should I report the results ?

[2020-08-14 13:34] jofrep commented on #86
me too. I have lime SDR and would like to test but would need some guidance

[2020-08-14 20:26] cooperq commented on #90
nice find! I'll fix that!

[2020-08-14 20:27] cooperq commented on #32
Hoping to gather some training data with crocodile hunter. We had considered doing an unsupervised algorithm but my (very limited) understanding is that this would require a TON of training data

[2020-08-14 20:28] cooperq commented on #80
Good call. Will do.

[2020-08-14 20:30] cooperq commented on #83
that would be rad! definitely want to check as many reference DBs as possible. @marcfielding1 any idea how much work and $$ that would be?

[2020-08-14 20:35] cooperq commented on #86
You will have to start by enabling the SOAPY SDR drivers in https://github.com/EFForg/srsLTE/blob/master/CMakeLists.txt and then get your device working with SOAPY SDR. Compile SRSLTE by hand then test it with one of the test scripts. If it all works please let me know here!

[2020-08-14 20:35] cooperq commented on #87
yup EFF

[2020-08-14 20:35] #87 closed

[2020-08-14 20:37] cooperq commented on #89
you need to set `run_us_centeric_heuristics = false` in src/config.ini
other than that it should work just fine in london. Good luck!

[2020-08-14 20:38] cooperq commented on #91
see #86 and follow the same steps. Since we don't do any transmission a hackRF might work but as @pdelteil mentions its half duplex so I would be surprised. Good luck!

[2020-08-15 01:12] alphafox02 commented on #86
https://youtu.be/AbtmqkFkmIg

Made this for someone else trying to use soapy and srslte. I don’t really have an issue using soapy so long as there’s only one device plugged in and/or being recognized by soapy as I don’t know yet how to pick individual devices when using siapy with srslte. It just picks the first device in the list so make sure you have only one thing being recognized by SoapySDRUt

[2020-08-15 16:26] cguerrave commented on #90
with this exact fix I still had problems at some point of the build, basing on that same diff @keldnorman  I changed the line of interest to this slightly different version as pointed in the diff file:

``` ce_abs[g+i] = 20 * log10f(std::abs(std::complex<float>(ue_dl.ce_m[tx_antenna][rx_antenna][i]))); ```

And the build was made without any issue.

[2020-08-16 10:24] cguerrave opened #93 "Changing the run_us_centeric_heuristics approach to "expected MXC""
Knowing the mccs and mncs of the places we want to monitor, maybe we can have a couple of lines in config.ini with:
[code]
And maybe change the run_us_centeric_heuristics to ```check_mcc_mnc``` or something like that (?)

[2020-08-16 11:04] marcfielding1 commented on #83
@cooperq Depends what you need if it's just a couple of endpoints you can just buy me a beer if you ever come this way. You can get me on LinkedIn here: https://www.linkedin.com/in/marc-fielding-a8bb3293/ - if you like we can arrange a zoom call and I'll get it spun up within a day I reckon.

[2020-08-16 13:30] marcfielding1 commented on #32
Just copying this over from #83 to keep the train of thought in a single thread.

Also if you're recording the data gathered by crocodile hunter we can start experimenting with (this thread) (machine learning) to provide a probability score really you need as much data as possible on each mast then labelled samples of fake ones - which in itself isn't a hard thing to do.

You could also try anomal

[2020-08-17 16:41] phantomdennis commented on #86
So I have SoapySDR running with the HackRF. It looks like it is found without issue.
[code]

I made sure that the SoapySDR was enabled in the CMakeLists.txt file for srsLTE.

[code]
When running the crcodilehunter.py I get the following output. Is there something that needs to be passed to tell the script to use SoapySDR?

[code]

[2020-08-17 17:49] cooperq commented on #86
ah yea the problem here is the bootstrap script I have looks for either a  bladeRF or Ettus device and quits if it doesn't find one. If you know bash this should be pretty easy to patch, if not I can try to get a patch today .

If you run `crocodilehunter/src/srsLTE/build/lib/examples/cell_measurement -z <list,of,earfcns>` on its own with the hackrf does it work?

[2020-08-17 17:53] cooperq commented on #86
closing #91 as a duplicate of this issue.

[2020-08-17 17:53] cooperq commented on #91
Closing as a duplicate of #86. Please follow up there.

[2020-08-17 17:53] #91 closed

[2020-08-17 18:11] cooperq commented on #93
Yea this seems like a better way to do it. I still don't understand why we ever see this and I don't feel like it should actually be a huristic but I've seen it myself in the wild so I guess we might as well keep doing it?

[2020-08-17 18:13] cooperq commented on #32
yea if we could record the handshake that would be great. We can't do that from CH because that would require transmitting which the SDR isn't licenesed for. But if we could record the handshake from a 4G modem that would be ideal.

[2020-08-17 18:28] marcfielding1 commented on #32
Ahhh yeah I remember now I was just about to look back on your video, hrmm I've got loads of them knocking about but I've no idea how I'd record it at the moment, I'll do some digging, really it'd need to absorb masts from CH scans and then be instructed to connect to each one and record the handshake somehow I guess.

[2020-08-17 18:35] phantomdennis commented on #86
Yeah, I noticed that. I commented the tests out and found an issue with my gps. I'm working on that at the moment. I'll let you know if I get to the point where I can build and test the hackrf with the cell_measurement. Hopefully soon.

[2020-08-17 18:47] phantomdennis commented on #86
So I was able to get it to run by commenting out the bladeRF and Ettus device checks. The web interface starts but still no joy on the SoapySDR for HackRF.

[code]

[2020-08-17 19:37] cguerrave commented on #93
Perfect! also in the monitoring in 2G made so fat the weirdest towers had weird MCCs and MNCs so this seems nice to have in Crocodile Hunter too outside the US, I'm working on this in a branch in my fork, I'll let you know how it went (still learning a lot with this repo and git :) )

[2020-08-17 19:42] alphafox02 commented on #86
So even if you build in soapy support (I just did with no errors), if you have a look at the examples they only allow or at least say they do “ -a RF args” and not device_name which is what I think is needed. If you have a look at the UE.conf you’ll see that device_name is different than device_args. I’m trying to run any of the examples with soapy but it reverts to uhd. I’ll keep trying but I thi

[2020-08-17 20:05] phantomdennis commented on #86
I don't think that the `crocodilehunter/src/srsLTE/build/lib/examples/cell_measurement` is being built. The directory is empty. I do have the `crocodilehunter/src/srsLTE/lib/examples/cell_measurement.cc` file.

[2020-08-17 20:11] alphafox02 commented on #86
Go to the src/srslte directory.
mkdir build
cd build
cmake .
make

See where it’s failing. Are you building on 20.04? If so, it doesn’t build. 18.04 works.

[2020-08-17 20:40] phantomdennis commented on #86
I am building on 20.04. So I need to do this on 18.04? I'll get a VM put together and see if I can try that out this afternoon.

[2020-08-17 20:53] alphafox02 commented on #86
I put together a video of how I built it on a project I maintain, which is based on 18.04. You could maybe use the video as a reference should you encounter the same problems as me. Later today or tomorrow I was going to just upload a dvd that has everything running by default.

But as to 20.04. I could not get the required version of srslte to compile, however, I could get the newest srslte to co

[2020-08-18 00:38] cguerrave commented on #90
With the fix, the cabsf error disappears but this error above keeps showing, maybe is caused by another reason

[2020-08-18 16:51] phantomdennis commented on #86
I used the DragonOS, thank you @alphafox02 and I was able to get the system compiled and running a bit more than before. See output below. This is with the HackRF and SoapySDR.

[code]

[2020-08-18 16:57] cooperq commented on #86
yea  the process is crashing but we don't know why, if you run cell_measurement on its own what is the output?

[2020-08-18 16:58] cooperq commented on #90
yea that is a separate python error with my wigle API code.

[2020-08-18 17:29] phantomdennis commented on #86
This is the output and crash report.

[code]
[code]

[2020-08-18 17:41] alphafox02 commented on #86
So couple things, that exception trace back thing - it’s not actually crashing. It does it on my end and appears to be doing nothing but in fact it’s actually working and will find cells and move on. Each time it goes to look for a cell it’ll pop back up that exception thread 3 thing or more as you can sorta see in the background of the video I posted.

As for running cell measurement on its own y

[2020-08-18 17:44] alphafox02 commented on #86
I also just went ahead and added crocodile hunter to the ISO as that was quicker than making another one. I’ll upload it tonight and hopefully that’ll help some people... but I to would love this soapy + LimeSDR. or whatever. I think the examples need more added though. Hope I’m wrong.

[2020-08-18 17:47] alphafox02 commented on #86
I just edited the cmake file and disabled uhd and bladerf and only enabled soapy. I’ll see what happens, maybe that’ll let us know if those examples are made to run anything but uhd.

[2020-08-18 17:49] phantomdennis commented on #86
I'm fairly certain it is using SoapySDR. I adjusted the CMakeList.txt to use only SoapySDR and turned off the UHD and USRP. I also ran the hackrf_info and the device is listed as busy while the cell_measure is running. I'm just not getting any output. What would I get if it found something with cell_measurement?

[2020-08-18 17:54] phantomdennis commented on #86
I did a cell search. An suggestion on the band? I was thinking 700mhz? I dont know if I need to put this in hz or khz

[code]

[2020-08-18 17:56] alphafox02 commented on #86
Okay this is looking good at least in my test with an ettus. I deleted the build directory for srslte. I then edited the CMakeLists.txt and put OFF next to uhd and bladerf and on next to soapy.

mkdir build
cmake ..
make

Now when I run the cell measurement example it tells me it’s using Soapy and not uhd!! Now the only other issue may be that I have soapy audio installed and it’s listed as the de

[2020-08-18 17:56] alphafox02 commented on #86
Nice! We both did the same thing.

[2020-08-18 18:00] phantomdennis commented on #86
Bingo I can search with HackRF :)

[code]

[2020-08-18 18:03] alphafox02 commented on #86
Now go back and run crocodile and just let it sit and run. This is awesome.

[2020-08-18 18:33] alphafox02 commented on #86
So I get nothing now with crocodile forcing use of just soapy and the ettus. It just sits there after that value error line and if I run cell measurement on its own it starts with soapy, finds the ettus and eventually says error searching cell. If I rebuild and run with uhd it appears to run fine.

[2020-08-18 19:12] phantomdennis commented on #86
Ok, so I let it run for almost 45 minutes and I am not getting anything.

[2020-08-18 20:32] alphafox02 commented on #86
I think it’s something with soapy and cell measurement because this combo with my ettus fails when running on its own or via crocodile. Works fine when not using soapy. I’ll grab a hackrf and some other hardware and continue testing. Seems encouraging that you got cell search to work.

[2020-08-18 20:45] phantomdennis commented on #86
I would love to have an ettus. Unfortunately, all I have at the moment is a hackrf and a small stack of rtlsdrs. I'm ready to test if something changes.

[2020-08-18 20:52] alphafox02 commented on #86
What happens if you run cell search or measurement with the rtlsdr on a band/freq within its range?

[2020-08-18 21:17] phantomdennis commented on #86
It certainly finds the device and starts running then gets hung up.

[code]

[2020-08-19 16:18] cooperq commented on #86
I see this error Receiving async metadata not supported by device. Exiting thread.

I wonder if this is indicative of the hackrf just not being supported by srsLTE.

[2020-08-19 16:19] cooperq commented on #86
I'm on vacation this week but I will test the LimeSDR when I get back next week

[2020-08-19 17:33] phantomdennis commented on #86
I am able to get full scans with the latest srsLTE from the official repository. The version from this repository is not iterating through the EARFCNs like it does in the other for cell search.

[2020-08-19 22:46] drfunkenstein1312 commented on #73
I have it running using docker. Happy to share!

[2020-08-19 23:02] jamesaisenberg commented on #73
I got it working with docker. Happy to share!

[2020-08-19 23:10] jamesaisenberg commented on #84
I was having this issue as well. A quick fix is to remove the C++ compiler flag "-std=c++11" from srsLTE/CMakeLists.txt, line 257. After that it compiles fine in Ubuntu 20.04. There's probably a more elegant solution, but hey, it works.

[2020-08-19 23:42] alphafox02 commented on #84
Excellent, I’ll give it a try!

[2020-08-20 01:21] alphafox02 commented on #84
Works just like it did on 18.04, but this time I’m trying a bladerf. Following the success started PID to you get an “Exception in thread Thread -3” follower by some reference to threading.py with the ending line talking about invalid literal for int() etc etc? It continues to run and I see the same thing in 18.04. Just wondering if it’s just me.

[2020-08-20 01:41] jamesaisenberg commented on #84
Oh right, I remember having that issue as well.

But first: does the build work for you? In other words, did the "cabsf was not defined in this scope" error go away?

To fix the "invalid literal for int" error, you need to modify your config.ini file. The problem is the comments. So for example:

`crash_timeout = 30 ;number of seconds until we assume process has crashed. On a raspberry pi this nee

[2020-08-20 09:14] alphafox02 commented on #84
That makes sense and yes, it built. I let it run till it found a cell and also checked the webgui. Everything appeared to be working. I’ll do the cleanups and do some further testing. Really appreciate the help.

[2020-08-20 10:57] alphafox02 commented on #86
@phantomdennis Someone else pointed out that in the config.ini file to remove the comments so it'd look like this,

crash_timeout = 30
run_us_centeric_heuristics = false

Then run and you should find that all those errors will be gone and you'll be able to see what's going on.

[2020-08-20 14:28] phantomdennis commented on #86
@alphafox02 Good idea. I was able to run this again with those commented out and it looks like the srsUE cell_measurement is being called.

Run with a known good EARFCN tested with SDRSharp as having a reasonably good signal strength. I still get an error. I found that the SoapySDR driver fails when the srsUE fails. I have to disconnect the hackrf and reconnect because hackrf_info says the device

[2020-08-20 15:07] alphafox02 commented on #86
I’ll have a lime tomorrow or Monday. Also if you look at this link

https://github.com/EFForg/crocodilehunter/issues/84

It shows how we can build work 20.04. Which I’m testing now and hoping to just include in m new DragonOS project.

[2020-08-20 15:50] alphafox02 commented on #84
Just curious, are you finding that it actually works? I tried with my b205mini and while it starts to load it keeps having issues when trying to load the FPGA firmware which doesn’t happen in 18.04. I’m wondering if the far newer uhd version is an issue.

With the bladerf I was apparently lucky to  get one cell because it too dies after trying to run. I’ve also tried to force the use of soapy to s

[2020-08-20 16:12] jamesaisenberg commented on #84
Mine works! It finds about 5 cells.

I was having similar issues with the bladerf in ubuntu 20.04. Here is my solution: https://github.com/EFForg/srsLTE/pull/11

The only change is to crocodilehunter/src/srsLTE/lib/examples/cell_measurement.cc, so if you want to try it, you can replace that file with my version:

https://github.com/jamesaisenberg/srsLTE/blob/cell_measurement_hang/lib/examples/cell

[2020-08-20 16:37] alphafox02 commented on #84
It works.. I had to raise the crash time and now the usrp is working. I’ll have to test your patch and my xa4 this evening.

Sent from my Android

[2020-08-20 22:32] alphafox02 commented on #86
LimeSDR mini in hand. It looks promising as it starts and runs with soapy but I’m getting some error about insufficient rx gain etc.. I think I need to get the device args right and manually place them in the crocodile file after I figure out what’s right running the cell measurement tool on its own. I’ll video it all tonight and see if anyone has advice, but again it looks promising at least with

[2020-08-21 16:01] keldnorman opened #96 "To many suspicious markings"
I have imported the GPS location of all cell-towers in Denmark in to my crocodile-hunter installation ( https://github.com/keldnorman/crocodilehunter_dk_tower )

When I start it up it searches for the towers around me and almost every time finds some suspicious tower with a 100% suspiciousness level.

![suspicious](https://user-images.githubusercontent.com/10332862/90909703-6ed23d80-e3d6-11ea-872a

[2020-08-25 16:37] cooperq commented on #73
This looks great! Please make a pull request once you are ready!

[2020-08-25 18:18] cooperq commented on #89
actually the latest pull request added a new config flag where you can set the country codes for your own area. I would reccomend using this feature!

[2020-08-25 18:18] #89 closed

[2020-08-25 18:19] cooperq commented on #93
fixed in #95

[2020-08-25 18:19] #93 closed

[2020-08-25 18:21] cooperq commented on #83
DM me on twitter and we can chat, same username as here: @cooperq

[2020-08-25 22:49] alexballas commented on #86
Unfortunately any changes applied to the GUI are relevant while the board is connected to it. Any configs in the GUI will go away as soon as you disconnect the board from it.

[2020-08-30 17:47] Al-gore-ithm opened #97 "Unable to run..."
Hi,

I'd be grateful for a little assistance, I am trying to run Crocodile Hunter without success so far. I have successfully built and tested srsLTE, but I've no idea what I need to do resolve this. The output is below, any and all suggestions are welcome...

* 10:43:09 default - INFO starting crocodile hunter project: default
 * 10:43:09 default - INFO Starting WebUI
 * 10:43:09 default - INFO

[2020-09-10 10:46] alphafox02 commented on #86
Not sure if this would help any, but I’ve tried this program with the LimeSDR mini and it seems to work, https://github.com/falkenber9/falcon

[2020-09-12 19:27] alexballas commented on #86
I got crocodilehunter working on LimeSDR mini (ubuntu 18.04). I found 2 issues:

1) When crocodilehunter first loads I get the following error
ValueError: invalid literal for int() with base 10: '30 ;number of seconds until we assume process has crashed. On a raspberry pi this needs to be more like 120'. I don't see any impact so far.

2) ValueError: Not a boolean: false ;check if towers are opera

[2020-09-12 22:04] alphafox02 commented on #86
You’re first few errors are due to the config file having comments. Remove the ; and comment following it.

I ended up trying the mini again and found that it located one cell when I let it run using uhd soapy vs forcing it to just the straight normal soapy. I would always get an error mx code 4 and something about the tx Calibration which is mentioned a lot on forums. Considering you found cells

[2020-09-12 22:24] alexballas commented on #86
Yes, I also get the
[code]
but only once.

I fixed the first errors as you said.
Would it be possible to check the memory usage of cell_measurement?

[2020-09-13 17:50] simonft commented on #83
I'm not sure if the two of you have talked on twitter, but my thoughts:

I'm not sure if we need a fancy searching api. I think we're just going to be searching by tower id and cell id, and Cooper correct me if I'm wrong but I don't think we need/want to return anything if only one of them matches. It's probably good enough to use a key/value store where the key is "{tower_id}_{cell_id}". Then if

[2020-09-15 17:26] cooperq commented on #90
fixed in https://github.com/EFForg/srsLTE/commit/2799232026df9f466703a0f9870923b44d902270

[2020-09-15 17:26] #90 closed

[2020-09-15 17:27] #79 closed

[2020-09-15 17:33] cooperq commented on #84
I have fixed the build errors and the memory leak in our fork of srsLTE as of 0804ca322c02dbbf70f54e038f18f73bf72ad855. If you pull that version and update srsLTE you should see these issues fixed.

As for actually merging the upstream, the API has changed significantly. I spent several days of work fruitlessly trying to rewrite the cell_measurement code but didn't get a working version. I am movi

[2020-09-15 17:48] cooperq commented on #86
The memory leak error was fixed in the commit referenced in #84. If you pull the latest release (and update the srsLTE sub repo) you will get the fix.

[2020-09-15 17:50] cooperq commented on #86
I just ran cell_measurement on my machine with a lime SDR mini and also get the error above:
`[ERROR] Tx Calibration: MCU error 4 (SXT tune failed)`
cell measurement goes as far as decoding the mib on the first pass but can't seem to decode it on the second pass or decode the sib. Going to look into this more. Once we get it working with the C code I will fix the bash script.

[code]

[2020-09-15 18:25] cooperq commented on #86
Update: **IT WORKS**
Apparently the solution was to plug it into a USB3 port and connect some better antennas! Here is the output from SoapySDRUtil:
[code]
and here is the output from crocoidle hunter :
[code]

And it goes on like that finding several other cells. The only change I made was to remove the SDR checking stuff from the bash script. 0ab5ac52635569912b8d474f9d213d7c61ab141f In conclusio

[2020-09-15 18:30] cooperq commented on #96
at a guess it might be because they aren't found in the external databases open cell id or wigle. Can you paste the output of CH when it finds those towers?

[2020-09-15 18:31] alexballas commented on #86
Great work @cooperq !
I just tested with the latest version and cell_measurement seems to be doing find in terms of memory usage so far. Will test more.

I had mine running for 5 minutes (indoors) and got
->   * 21:27:19 default - VERBOSE Found 4 towers a total of 27 times

I had one last question about the towers I get.

I seem to be always getting a "eNodeb id" with value 0 and a PLMN value of 0

[2020-09-15 19:10] cooperq commented on #97
looks like the problem here is your connection to wigle. Did you get a wigle api key and put it in config.ini? Crocodile hunter needs to connect to Wigle to get a list of EARFCNs (frequencys) to scan. If you don't want to or can't do that you can manually search for the frequencies around you using the wigle or open cell id web interface and put them in the config.ini with a line like so
[code]
**

[2020-09-15 19:12] cooperq commented on #86
yea I've noticed that in the past. I've been told that a 0-0-0 cell can be broadcast when an eNodeB is rebooting sometimes. You should go track it down using the GPS and direction finding!

[2020-09-15 19:14] cooperq opened #98 "make a cell 'hash'"
make a hash of values that shouldn't change and then look for cells with the same PLMN-TAC-CID but with different hashes.

[2020-09-15 19:15] cooperq opened #99 "look for cells where there are multiple clusters of sightings"
short version:
first pass:
  arithmetic mean of lats and lons

  get sigma vs. arithmetic mean

  if it's too high
    it probably requires a multicluster
  else
    sum signal weight, signal-weighted lat and log

multicluster pass:
  iterate through points
    if point near-enugh an existing cluster
      add point
    else
      start a new cluster with point

[2020-09-15 19:33] alphafox02 commented on #86
This is great news. Thanks for making so many improvements. I’ll test it out ASAP. I’ve been using usb3 and good antennas so hopefully the improvements in the code will yield good results. A mini is such a great priced radio to use for this project!

[2020-09-15 20:45] alexballas commented on #86
On another subject, MyriadRF confirmed [here](https://discourse.myriadrf.org/t/me-and-my-limesdr-usb/6525/4) that they're working on a native version of the LimeSDR library for srsLTE which will also (hopefully) make things much smoother.

[2020-09-15 20:53] Al-gore-ithm commented on #97
Thank you very much, I've tried that using a Wigle API username and key. I've also tried combinations of standard username and password with API username and API key all with no success. Using EARFCN list I do have some success running but I'm still seeing errors:

_**Exception in thread Thread-3:
Traceback (most recent call last):
  File "/usr/lib/python3.8/threading.py", line 932, in _bootstrap_

[2020-09-15 21:20] alphafox02 commented on #86
Speaking of uhd and soapy.. Are you guys now testing and finding good results with just soapy or uhd soapy when running the crocodile hunter?

[2020-09-16 00:26] cooperq commented on #97
ah yes, you need to remove the comment (everything after and including the ;) in config.ini  it should parse this but it's a bug I need to fix. after that it should work.

[2020-09-16 00:27] cooperq commented on #86
I was using just soapy with the lime rf. I'll try UHD Soapy as well with the UHD device I have though.

[2020-09-16 09:34] alphafox02 commented on #86
I just mentioned uhd soapy because if I build this and have the uhd driver and soapy installed uhd Soapy takes precedence with the lime sdr until I go disable uhd in the cmake file and build srslte with just soapy support.

[2020-09-16 17:50] cooperq commented on #86
does this cause a bug? Can you show me what the output is? I'm a little slow today but I don't totally understand the problem.

[2020-09-16 17:53] alphafox02 commented on #86
Built the latest and it works great so far with the lime-sdr. I didn’t change a thing at first so when I started it up it was using the “uhd soapy” with the LimeSDR. It seemed to run but something didn’t seem right, didn’t run it long enough to really evaluate it well.

So I stopped it, went in to srsLTE and changed the CMakefile list file to disable uhd and enable soapy. Rebuilt and reran and wit

[2020-09-16 18:03] alphafox02 commented on #86
This is with the CMakelist file like this, which I had to manually do and it seems to run faster with the limesdr.

option(ENABLE_GUI      "Enable GUI (using srsGUI)"                OFF)
option(ENABLE_UHD      "Enable UHD"                               OFF)
option(ENABLE_BLADERF  "Enable BladeRF"                           ON)
option(ENABLE_SOAPYSDR "Enable SoapySDR"                          ON)

[2020-09-27 17:10] Mutekeri opened #101 "Unable to run, getting stuck here"
Traceback (most recent call last):
  File "./crocodilehunter.py", line 225, in <module>
    crocodile_hunter.start()
  File "./crocodilehunter.py", line 108, in start
    self.update_earfcn_list()
  File "./crocodilehunter.py", line 130, in update_earfcn_list
    self.earfcn_list = self.watchdog.wigle.earfcn_search(gps.lat, gps.lon, 0.2)
  File "/usr/src/crocodilehunter/src/wigle.py", line 91, in

[2020-09-28 22:29] cooperq commented on #101
do you have a wigle_name and wigle_key entered in your config.ini file?

[2020-09-29 05:03] Mutekeri commented on #101
Yes I have the wigle_name, wigle_key and open cell ID. I even have the mccs and mncs set up. I am using the crocodile hunter in South Africa, I had done all the configurations, except where you have to update the known towers. I had previously tried to update them using the information, I downloaded from wingle for towers in South Africa, but still I as unable to run. Does the solution only work i

[2020-10-01 00:02] cooperq commented on #101
updating the known towers shouldn't be a requirement for crocodile hunter but perhaps you mean known_earfcns not known_towers? I will look at what is going on with the wigle scirpt as that is a bug I need to fix. But the other thing that would help here is if you can paste your config.ini (removing the API keys first). Thanks!

[2020-10-03 00:04] martinmathisen commented on #101
I am getting more or less the same:
Traceback (most recent call last):
  File "./crocodilehunter.py", line 226, in <module>
    crocodile_hunter.start()
  File "./crocodilehunter.py", line 109, in start
    self.update_earfcn_list()
  File "./crocodilehunter.py", line 131, in update_earfcn_list
    self.earfcn_list = self.watchdog.wigle.earfcn_search(gps.lat, gps.lon, 0.2)
  File "/home/ubuntu/cro

[2020-10-07 12:55] Mutekeri commented on #101
[general]
gps_default = 0, 0
mysql_path = mysql://root:toor@localhost:3306
wigle_name = XXXX
wigle_key = XXXX
ocid_key = XXXXXXX
default_project = default
crash_timeout = 130
check_geographic_codes = false
expected_mccs = 655
expected_mncs = 1,2,25,33,11,41,46,6,19,16,14,13,10,53,35,31,51,32,28,50,7,21,34,30,36

[api]
host = 0.0.0.0
port = 5000
contact = test@example.com

[default]

[2020-10-14 23:59] cooperq commented on #101
From your email:

Interesting it sounds like it's scanning then but not finding anything. I would be very interested to see what the output is when you run it in debug mode with the -d flag like so
`./crocodilehunter.py -d -p <project>`

15. I ran the crocodile overnight, It won't show anything, it just get stick
there

[2020-10-15 00:01] cooperq opened #103 "fix wigle earfcn api"
Right now there is a problem where if the API call fails we get an ugly error from wigle. We should rip out the whole earfcn getting code and use the new API they are building for us and also clean up this error.

[2020-10-15 00:02] cooperq opened #104 "fix config.ini parsing"
The config.ini parser seems to choke on comments in the config.ini, we need to figure out why this is and fix it.

[2020-10-15 00:03] cooperq opened #105 "overhaul GPS processing"
Right now we are dependent on GPSd running and we bootstrap it with a bash script but this is not a good solution. We should get gps data directly from the serial device and parse it instead, competely ignoring GPSD.

[2020-10-15 00:04] #86 closed

[2020-10-15 00:05] #97 closed

[2020-10-15 16:58] cooperq commented on #96
closing this until response

[2020-10-15 16:58] #96 closed

[2020-10-15 16:59] cooperq opened #106 "tests"
We currently don't have any tests (other than the tests built in to srslte) we should write some tests for the python end of things and set up continuous integration. I don't have any opinions about what test suite we should use.

[2020-10-19 12:12] Mutekeri commented on #101
Thank you very much. Its running fine, without wingle. I used the earfns using Netmonitor. Thank you. I also load DragonOS the latest, on its own machine and updated the config file.

[2020-10-21 18:46] #101 closed

[2020-10-23 22:44] alexballas commented on #86
I know this is know closed. Just wanted to let you know that with the latest "master" checkout of LimeSuite, I don't get the " [ERROR] Tx Calibration: MCU error 4 (SXT tune failed)" any more

[2020-10-24 12:10] alphafox02 commented on #86
Oh interesting. I’m using the packaged version in 20.04. Should I maybe look at replacing that and build with source?

[2020-10-24 14:18] alexballas commented on #86
These latest changes in the LimeSuite repo were probably triggered by the following MyriadRF forums discussion: https://discourse.myriadrf.org/t/how-to-fix-the-error-tx-calibration-mcu-error-4-sxt-tune-failed/

I would certainly recommend compiling from source. You just need to make sure that you also compile the latest 0.7.x version of Soapy SDR as the Master SoapySDR version defaults to 0.8 whic

[2020-10-24 14:59] alphafox02 commented on #86
Thanks for the tip! I do have soapysdr 0.7 in place and I like the idea of the deb packages, I’ll have to give it a try ASAP.

[2020-10-27 21:19] cooperq commented on #86
Thanks for coninuing to test!

[2020-10-28 23:03] alexballas commented on #104
Raised https://github.com/EFForg/crocodilehunter/pull/110

[2020-10-29 16:51] cooperq commented on #105
fixed in #109

[2020-10-29 16:51] #105 closed

[2020-10-29 16:51] cooperq commented on #104
Fixed in #110

[2020-10-29 16:51] #104 closed

[2020-10-29 18:10] #103 closed

[2020-10-30 22:01] alexballas commented on #105
Hello, just a question on this. Is the plan still to move away from gpsd? Getting the coordinates directly from serial would indeed be preferable and fairly easy to do. I was playing around the other day with this concept. Potentially migrate the gps logic to a separate class?

[code]

[2020-11-05 00:28] cooperq commented on #105
@ThreeSixes made a pretty good case for not directly accessing the device but sticking with GPSD in #105. I'm not inclined to change that at this point unless there is a really good argument for it.

[2020-11-29 03:30] alphafox02 commented on #73
It’s also included and working in DragonOS Focal here, but docker is awesome too. https://sourceforge.net/projects/dragonos-focal/files/

[2020-12-04 00:04] cooperq commented on #73
oh that's neat I hadn't heard of DragonOS before. I should check it out. @jamesaisenberg are you still planning to make a PR with your docker implementation?

[2021-01-08 23:40] allenwrench opened #111 "fan mail - builds"
hi is there a binary compiled?

[2021-01-16 17:50] #111 closed

[2021-02-03 18:44] simsong opened #112 "Please create a hardware parts list"
It would be useful if this repo had a list of specific parts (with links?) that need to be purchased to get operational.
For example:

- [ ] Presumably, _either_ a BladeRFD x40 or a URSP B2000 is required.
- [ ] Is any other speciality hardware required?
- [ ] The README seems to intermix hardware and OS requirements. Does this system work equally well on a relatively slow Raspberry PI and a high-

[2021-02-04 11:16] alphafox02 commented on #84
I just want to touch on this again. Using the mainline Crocodilehunter code with an xA4 or xA9 typically leads to the process dying, however, if I use @jamesaisenberg branch it runs great. What I'm confused on is what's actually been merged, if anything? I see there's a memory leak fix, but can we also roll in @jamesaisenberg patch for the cell measurement?

[2021-02-04 11:46] alphafox02 commented on #84
Here's what I've tried this morning.

1st. Attempted to add @jamesaisenberg patch into the existing croc hunter code. Still timed out.

2nd. Blew away the srslte directory and used @jamesaisenberg entire branch. Still times out.

3rd. Used @jamesaisenberg entire branch, but disabled UHD and copiled with bladerf support. Going strong now.

Now i need to start over and build only bladerf support wit

[2021-02-16 20:10] cooperq commented on #84
Sorry I've been out. @alphafox02 did you have any success with this? Should I re-open this issue?

[2021-02-16 20:12] cooperq commented on #112
This has been added here https://github.com/EFForg/crocodilehunter/blob/master/HARDWARE-REQUIREMENTS.md

[2021-02-16 20:12] #112 closed

[2021-02-16 20:12] cooperq commented on #111
there is not, we don't plan to distribute one.

[2021-02-16 21:31] alphafox02 commented on #84
@cooperq I still need to check a clean install of crocodile hunter, but build it specifically either UHD or Bladerf. In DragonOS Focal it has both the UHD drivers and Bladerf drivers, so when running crocodile hunter it of course goes for UHD first. This doesn’t seem to work well. Then add in the possibility of applying the bladerf patch mentioned above I just need to clear up a couple things and

[2021-02-18 22:38] cooperq opened #113 "look at timing advance"
is this a paramater we can collect without transmitting, if so it would be very useful.

[2021-02-20 00:26] cooperq commented on #84
I've had both UHD and bladerf drivers installed for a while and haven't had this problem, but are you using the native drivers or the soapysdr drivers?

[2021-02-20 01:26] alphafox02 commented on #84
So for me if I have uhd and bladerf drivers installed and start it with a bladerf plugged in it actually comes up and gets used by the “uhd soapy” something something driver. However, if I blow away the build directory, change the Cmakelists to yes for bladerf and no for UHD, rebuild and use it works great and actually shows it’s only using the specific bladerf driver and not the uhd / uhd soapy t

[2021-02-26 22:25] alphafox02 opened #114 "(Request) Croc Hunter + Cesium"
(Request) Allowing CH database to be read by or feed somehow into cesium.

Currently using DF Aggregator for direction finding and thought it’d be great to have a layer added to cesium which would plot the cells and maybe allow them to be clicked for expanded info normally shown in the standard mapping GUI.

https://github.com/ckoval7/df-aggregator

Cesium is installed in DragonOS with a very basi

[2021-02-27 17:14] cguerrave opened #115 "Parsing System Information block 1 raw data"
It could be useful to parse the raw SI1 info that is being captured to analyze anomalies on specific parameters, I'm not clear of how different the LTE SI block vs 2G, but for instance, in 2G we can get frequency lists formats and other parameters that we can check if they differ with the rest of the carriers or if they change over time for the same cell.

[2021-03-03 04:39] alphafox02 opened #116 "aarch64 support"
While attempting to buiild Crocodile hunter on a Pi4 running Ubuntu 20.04 aarch64 I find the following is failing, which seems most likely an issue with srsLTE after reading this comment on another program ( https://github.com/F5OEO/rpitx/issues/173 ).

ubuntu@ubuntu:/usr/src/crocodilehunter/src/srsLTE/build$ sudo make -j4
Scanning dependencies of target srslte_asn1
Scanning dependencies of target

[2021-03-03 04:43] alphafox02 commented on #116
It appears newer builds of srsLTE do work with aarch64 as mentioned here

https://docs.srslte.com/en/latest/app_notes/source/pi4/source/

[2021-03-07 08:25] Al3x4n commented on #114
USRP support?

[2021-03-08 02:35] alphafox02 commented on #116
Aarch support

[2021-03-08 14:37] alphafox02 commented on #116
I got it working by manually applying aarch patches found in later versions of srsLTE. If I figure out the proper way to do a pull request I’ll submit.

[2021-03-09 02:38] alphafox02 opened #117 "api_client not pushing info into server database"
I’ve setup a client CH instance and can successfully appear to signup and create an Api key, followed by pushing towers to the server running on another system, however no data is entered anywhere into the database running on the server

There’s no visible error and I’m not that familiar with the setup yet, but had anyone else ran the server and client setup and had data passed back into the serve

[2021-03-11 20:19] cooperq commented on #116
ah this might be a documentation issue, I have compiled this successfully on a pi4 and it shoudl support arm already. I will look into it.

[2021-03-11 20:21] cooperq commented on #84
good to know. perhaps I should update the setup script to change this automatically when building for bladerf.

[2021-03-11 20:23] cooperq commented on #114
I'm all for this but don't have time to do it personally. I would welcome a pull request though.

[2021-03-11 20:25] cooperq commented on #117
we are running a server with EFF and it has worked. Can you first check if the key is authorized in the database? (you need to manually authorize each api key from the server.)

[2021-03-11 20:26] cooperq commented on #115
I think we are grabbing most of the information out of the SI1 , it doesn't contain as much as it does in 2G. But I will review and see if we are missing anything.

[2021-03-11 21:56] alphafox02 commented on #116
So I think you’re fine when using a pi image, like raspbian, however if you use the official Ubuntu 20.04 headless image it’s aarch64 and the version of srsLTE you’re using is missing the patches there were added later. I’ll find them again and send you the link. Again for most people this will probably not be noticed as I think the normal pi image does not mark itself as “aarch64”.

[2021-03-11 21:58] alphafox02 commented on #116
I manually added everything here to the version of srsLTE you’re using.

https://github.com/srsLTE/srsLTE/commit/4a1b8a595261a6f180a9dcb4a8a83a9af3278bf3

[2021-03-11 22:01] alphafox02 commented on #117
I think what’s happening is a portion is working, however I did have to go change the client api to http and not https because I was getting ssl or mismatch something errors.. once I switched it to http I was able to register and get a key which I confirmed ended up in the config file of the client.

However, after I went and command line dug into the MySQL/marinaDB on the server side I quickly fo

[2021-03-11 22:02] alphafox02 commented on #117
I’ll check the database again, assuming you mean the key is entered into the db on the server side? If that’s the case I recall checking all api tables and really all tables and not seeing the key or anything from the client anywhere.

[2021-03-11 22:03] alphafox02 commented on #114
One day, when I learn python or how to code, I’ll add this! I think it’d be a cool learning project.

[2021-03-11 23:19] alphafox02 commented on #117
Oh wait, now I think I see what you’re saying. What do you mean manually authorize each key on the server? When I do the sign up on the client end it generates a key and applies it to the config file. I guess I assumed that key would at the same time be entered in on the server side. That must be the part I’m missing, to somehow manually enter the key on the server side?

[2021-03-12 04:58] alphafox02 commented on #117
I tried it out again. I notice now and maybe I wasn’t looking at it correctly last time, but now I can sign up to the server. I assumed the the CH_project variable would have to do with how the data is saved on the server to recall say the project later on the server with map only.

However, I see after signing up that back on the server I check the database and find an entry called crocodilehunte

[2021-03-19 22:58] cooperq opened #119 "API Improvements"
- [ ] add project name to api table so IDs don't overwrite each other
- [ ] add dashboard for viewing API data
- [x] api server crashes after 5 calls because we don't close the db connection
- [ ] improve api documentation

[2021-03-24 23:39] cooperq commented on #117
yea no you have it now. It's funny because I'm actually helping someone else out with crocodile hunter now and they are running into all the same bugs. So yea the api data gets sent to a table called api_towers. And there is no good UI to view the data, you just have to view it in mysql.

The entire API was an afterthought that was written in 1 day and I think I need to build a nice dashboard for

[2021-03-24 23:39] #117 closed

[2021-03-24 23:40] cooperq commented on #116
Nice! Could you open up a pull request for that? I would love to add it to the main branch!

[2021-03-25 03:55] alphafox02 commented on #116
This will be homework for me at some point because I do need to get familiar with doing proper pull requests.

[2021-04-02 00:15] cooperq commented on #119
Dashboard support added in https://github.com/EFForg/crocodilehunter/commit/433e771ed2cb96d6f52f196f9673691fe82105f3

Production database schema has changed, users wishing to keep old production databases will have to run the following SQL:
`ALTER TABLE tower_data ADD COLUMN api_key VARCHAR(32), ADD COLUMN ext_id INT, ADD COLUMN uploaded DATETIME;`

[2021-04-02 00:17] cooperq opened #122 "Unknown column 'tower_data.api_key' in 'field list'"
**Problem**
Crocodile hunter is giving the following error:
` "Unknown column 'tower_data.api_key' in 'field list'"`
**Solution**
Run the following SQL on each of your projects.
`ALTER TABLE tower_data ADD COLUMN api_key VARCHAR(32), ADD COLUMN ext_id INT, ADD COLUMN uploaded DATETIME;`

[2021-05-06 15:55] alphafox02 commented on #122
Thank you for sharing. I was just getting this today.

[2021-05-07 01:20] alphafox02 commented on #122
So for each new project this needs to be done? If you do a fresh crocodile hunter pull is this resolved?

[2021-05-18 21:04] jwp810 opened #123 "Qz"

[2021-05-20 13:12] alphafox02 commented on #114
@cooperq what about a tool to output the tower info to a kml instead?

[2021-06-10 00:11] #123 closed

[2021-06-10 22:02] cooperq commented on #122
yea you should only need to do this for projects that already exist. New projects should automatically have the correct database schema.

[2021-06-10 22:02] cooperq commented on #114
that would be cool too but I don't personally have time to do it.

[2021-06-11 00:59] alphafox02 commented on #114
Needs some refinement, but sharing in case you can use it

https://pastebin.com/qq2LWeJa

[2021-06-11 00:59] #114 closed

[2021-06-18 13:01] Twelvesuns opened #124 "Who"
if (!gform) {
    document.addEventListener("gform_main_scripts_loaded", function() {
        gform.scriptsLoaded = !0
    }), window.addEventListener("DOMContentLoaded", function() {
        gform.domLoaded = !0
    });
    var gform = {
        domLoaded: !1,
        scriptsLoaded: !1,
        initializeOnLoaded: function(o) {
            gform.domLoaded && gform.scriptsLoaded ? o() : !gform.dom

[2021-06-18 13:02] Twelvesuns commented on #124
if (!gform) {
    document.addEventListener("gform_main_scripts_loaded", function() {
        gform.scriptsLoaded = !0
    }), window.addEventListener("DOMContentLoaded", function() {
        gform.domLoaded = !0
    });
    var gform = {
        domLoaded: !1,
        scriptsLoaded: !1,
        initializeOnLoaded: function(o) {
            gform.domLoaded && gform.scriptsLoaded ? o() : !gform.dom

[2021-06-19 01:05] Twelvesuns opened #125 "<html lang="en">"
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
<link rel="icon" href="/favicon.ico">
<link rel="mask-icon" href="/apple-logo.svg" color="#333333">
<title></title>
<link href="/tutorials/css/documentation-topic.e4472ae9.css" rel="prefetch">
<link href="/tutori

[2021-06-19 01:05] Twelvesuns commented on #125
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
<link rel="icon" href="/favicon.ico">
<link rel="mask-icon" href="/apple-logo.svg" color="#333333">
<title></title>
<link href="/tutorials/css/documentation-topic.e4472ae9.css" rel="prefetch">
<link href="/tutori

[2021-06-24 20:56] #124 closed

[2021-06-24 20:56] #125 closed

[2021-07-22 11:28] gilles54JAP opened #126 "Crocodilehunter"

[2021-07-26 16:26] #126 closed

[2021-09-11 01:58] msfu101 commented on #101
Can you tell me if you use an usrp b210 or another with ext. PLL-GPSDO how you configured your GPS to get the signal from external Clock and set it up for crocodilehunter?
thanks in advance

[2021-09-11 02:40] msfu101 opened #128 "no gps fix detected... aborting"
hey, ther
ive got a question about crocodilehunter.
if i do sudo ./crocodilehunter.py -d it says

 * 04:36:11 default - INFO starting crocodile hunter project: default
 * 04:36:11 default - INFO Starting WebUI
 * 04:36:11 default - INFO  * Running on http://0.0.0.0:5000/ (Press CTRL+C to quit)
 * 04:36:11 default - INFO Checking for config file
 * 04:36:11 default - INFO Compiling srsUE
 * 04:36:1

[2021-09-17 07:36] Mortific commented on #128
Is the gps reciever set to NMEA output? If you run gpsmon, what does it report?

[2021-11-06 14:56] msfu101 commented on #128
No it's not,
the output of gpsmon is

tcp://localhost:2947          JSON slave driver>
(82) {"class":"VERSION","release":"3.20","rev":"3.20","proto_major":3,"proto_minor":14}
(32) {"class":"DEVICES","devices":[]}
(122) {"class":"WATCH","enable":true,"json":false,"nmea":false,"raw":2,"scaled":false,"timing":false,"spl
it24":false,"pps":true}

I don't know what i am doing wrong.

[2021-11-07 02:26] msfu101 commented on #128
if i run sudo ./crocodilehunter.py -d -w
i get this output

03:24:52 default - INFO starting crocodile hunter project: default
 * 03:24:52 default - INFO Starting WebUI
 * 03:24:52 default - INFO  * Running on http://0.0.0.0:5000/ (Press CTRL+C to quit)
 * 03:24:52 default - INFO Checking for config file
 * 03:24:52 default - INFO Compiling srsUE
 * 03:24:53 default - INFO SrsUE built succesfully

[2021-11-07 03:05] msfu101 commented on #128
when i run
/usr/lib/uhd/utils$ sudo ./query_gpsdo_sensors
it says this

Creating the USRP device with: ...
[INFO] [UHD] linux; GNU C++ version 9.2.1 20200304; Boost_107100; UHD_3.15.0.0-2build5
[INFO] [B200] Detected Device: B210
[INFO] [B200] Operating over USB 3.
[INFO] [B200] Initialize CODEC control...
[INFO] [B200] Initialize Radio control...
[INFO] [B200] Performing register loopback test...

[2021-11-07 09:36] Mortific commented on #128
It seems like the gpds service is not getting a position from the gps.

1. Do you have a GPS receiver with usb? Is there a way to verify that the gps is getting a signal and gps fix. In my case when the led flashes on the GPS receiver, I have a gps fix. Fixed light means operating but no signal.

2. Have you installed and started the gpsd sevice according to installation instructions?

3. Is [devi

[2021-12-23 08:22] ragingbull88 opened #130 "Palm Springs / Coachella Valley"
look for cell site simulators everywhere. I have been electronically harassed...reported it to police countless times...nothing is ever done. So I need a few volunteers to help bring justice . Persons of intererest(too many to list)= Aaron Hamilton, Meeyah Thompson, Mathew DuBois, Cal Doe, Colin Doe, regan hillyer International ,dr.robin bradley,dr.christopher fagan,mike fulmer, john dunn

[2022-01-03 18:50] #130 closed

[2022-01-24 21:46] cguerrave opened #131 "Error creating objects in the database"
Related to #122 , the new fields (api_key, ext_id, uploaded) are not nullable, and this is making it impossible to store tower data in the database, I tested making the fields nullable, and the information is uploaded, not sure if this behavior is expected, the program is sending None/Null to the database for these 3 fields, even when api_client.py was executed successfully, and a key is available

[2022-02-14 19:18] #131 closed

[2022-03-07 18:33] cooperq commented on #131
I think this is fixed now

[2022-04-22 18:41] alphafox02 opened #133 "Wigle API connection"
I’m not sure if wigle api has change, but I no longer appear to be retrieving a list from wigle - no indication a connection is happening when viewing with -d. I recall at least it mentioning in debug that a connection to wigle was being made. Is this aspect still working for others? It’s been a little while since I last ran crocodile Hunter. The wigle name is used in the name spot and token in th

[2022-04-22 18:44] alphafox02 commented on #133
With Pre filled in manual earfcn entries it does not appear this list is overwritten by a new gps location. Once the earfcn line was removed from the conf and crocodile reran the connection to wigle was made.

[2022-04-22 18:44] #133 closed

[2022-06-04 10:04] LolloDev5123 commented on #122
Propriety of the state is a phenomnenon i nwhichj the state owns propertyu in away that everyone agrees it owns it

[2022-06-16 21:13] alphafox02 commented on #131
I’m not sure what was addressed here or how it was fixed, but finally after all this time I got back around to setting up a client / server connection. All code is the latest, database looks good, and with the server started up I got a good key generation by the client api.

I then use the client api to add towers but in terminal I see that nothing is sent despite the local client having tower dat

[2022-06-16 23:10] alphafox02 commented on #131
I think I see what the person who submitted the ticket means now. Upon creating a new database with a -p and then trying to run Croc Hunter I’m unable to submit/enter info into the local MySQL server database.

There’s a lengthy OperationalError, but it states (1048, “Column ‘api_key’ cannot be null” and so the insert into Tower data fails.

[2022-06-25 11:56] Al3x4n opened #134 "Detect fake 2G/3G bts also"
Detect plus fake 2G/3G bts also
same SDR platform: USRP
project use: gr-gsm -> https://github.com/ptrkrysik/gr-gsm

[2022-09-02 11:50] EanNewton opened #135 "Dead Link"
Within the HARDWARE-REQUIREMENTS,md the link to the Amazon page for the GPS dongle 404's, this link is dead in both the EFForg fork as well as @cooperq 's fork.

**The markdown file:**
https://github.com/cooperq/crocodilehunter/blob/master/HARDWARE-REQUIREMENTS.md

**The dead link in question:**
https://www.amazon.com/GlobalSat-BU-353-S4-USB-Receiver-Black/dp/B008200LHW/ref=sr_1_14?dchild=1&keywor

[2022-09-16 16:34] iamapentester opened #136 "GPS pip and python 3.10 on Kali"
root@router:~/source/CrocodileHunter/crocodilehunter/src# ./crocodilehunter.py
Traceback (most recent call last):
  File "/data/source/CrocodileHunter/crocodilehunter/src/./crocodilehunter.py", line 22, in <module>
    import gpsd
ModuleNotFoundError: No module named 'gpsd'

root@router:~/source/CrocodileHunter/crocodilehunter/src# pip install gps
Requirement already satisfied: gps in /usr/lib/pyt

[2022-09-17 16:10] keldnorman opened #138 "(1048, "Column 'api_key' cannot be null")"
Where do i miss an API key when i am seeing this error ? (1048, "Column 'api_key' cannot be null")

----------------------------------------
 * 18:06:22 home - SUCCESS Adding a new tower: <Tower: 238-1-2600-39752.0, loc: 55.872089437,12.358322492, time: 2022-09-17 18:06:22, freq: 1815.0>
----------------------------------------
Exception happened during processing of request from
Traceback (most r

[2022-09-18 15:46] keldnorman commented on #131
I have the same problem on a clean installed Ubuntu 20.04 and fresh git clone of the repo from 18 sep 2022

[2022-10-25 17:55] cooperq commented on #136
the package is called gpsd-py3 in pip, but you should install it by using the requirements.txt file, not installing it by hand.

[2022-10-25 17:55] #136 closed

[2022-10-25 18:48] #122 closed

[2022-10-25 19:13] cooperq commented on #138
Okay I finally looked into this. For some reason I made the api_key and some other fields "NOT NULL" which is not how it should be. I have fixed that and now it should all work. You might need to recreate your database or modify it manually for those changes to take effect.  Fixed in 44298d059dcc5c7c85ceb79ce21d8d2f106265da

[2022-10-25 19:13] #138 closed

[2022-10-25 19:14] cooperq commented on #131
Okay I finally looked into this. For some reason I made the api_key and some other fields "NOT NULL" which is not how it should be. I have fixed that and now it should all work. You might need to recreate your database or modify it manually for those changes to take effect. Fixed in https://github.com/EFForg/crocodilehunter/commit/44298d059dcc5c7c85ceb79ce21d8d2f106265da

[2022-11-01 16:11] codewith7us commented on #128
@msfu101 @Mortific is this problem solved ? i am getting same as @msfu101 when i run /usr/lib/uhd/utils$ sudo ./query_gpsdo_sensors

Regards

[2022-11-04 16:20] Spessmen14 opened #141 "RTL-SDR compatibility?"
I absolutely cannot drop 400 on a limesdr, does the RDL-SDR dongle work with this project?

[2022-11-04 21:13] Mortific commented on #141
I would dare to say no. According to technical specifications rtl-sdr goes up to 1.75 GHz. Over here it would be useless at the moment as LTE uses 2.3-2.5 GHz. And then we all the huzzle with libraries and dependencies etc etc.

[2022-11-11 10:19] morgantie opened #142 "can't get fcc tower list"
Hello,
i am trying this software but when i download the tower / cell list the fccinfo-towers.csv file remains empty.
I don't believe the url "http://ge.fccinfo.com/googleEarthASR.php?LOOK=lat,lon,50915.07,0,60.7" works.
is there a similar API service?

[2022-11-13 11:53] morgantie commented on #142
up